@charset "UTF-8";

/*!------------------------------------------------------------
*レイアウト
------------------------------------------------------------**/
body {
	line-height : 1.5;
}

.l-container {
	display : block;
}

.l-main {
	display : block;
}

// PC用
@media only screen and (min-width : $pc_break_w) {
	.l-container {
		display : block;
	}
}

// SP用
@media only screen and (max-width : $sp_break_w) {
	body {
		min-width : $min_width;
	}
}

/*!------------------------------------------------------------
*ヘッダー
------------------------------------------------------------**/
.l-header {
	display : block;
}

// PC用
@media only screen and (min-width : $pc_break_w) {
	.l-header {
		display : block;
	}
}

// SP用
@media only screen and (max-width : $sp_break_w) {
	.l-header {
		display : block;
	}
}

/*!------------------------------------------------------------
*フッター
------------------------------------------------------------**/
.l-footer {
	display : block;
}

// PC用
@media only screen and (min-width : $pc_break_w) {
	.l-footer {
		display : block;
	}
}

// SP用
@media only screen and (max-width : $sp_break_w) {
	.l-footer {
		display : block;
	}
}
