@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等
@import "reset"; // スタイルリセット
@import "utilities";	// 便利系スタイル
@import "layout"; // テンプレート部位のレイアウト
/*--------------- 見出し ---------------*/
/* .ttl1 */
.ttl01 {
	background-color: #004C99;
	color: #fff;
	line-height: 1.5;
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl01 {
		margin-bottom: 30px;
		padding: 15px 15px 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		@include fs(20);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl01 {
		margin-bottom: 20px;
		padding: 10px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		@include fs(18);
	}
}


/* .ttl02 */
.ttl02 {
	position: relative;
	line-height: 1.5;
	&:before {
		padding: 10px;
		background-color: #004C99;
		-webkit-border-radius: 150px;
		border-radius: 150px;
		position: absolute;
		top: -5px;
		left: 0;
		color: #FFF;
		@include font_icon;
		content: "\e616";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl02 {
		margin-bottom: 30px;
		padding-left: 65px;
		@include fs(24);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl02 {
		margin-bottom: 20px;
		padding-left: 65px;
		@include fs(18);
	}
}



/* .ttl03 */
.ttl03 {
	width: 100%;
	position: relative;
	color: #004C99;
	line-height: 1;
	text-align: center;
	span {
		background-color: #FFF;
		border-right-style: solid;
		border-right-color: #FFF;
		border-left-style: solid;
		border-left-color: #FFF;
		display: inline-block;
		position: relative;
		letter-spacing: normal;
		line-height: 1.5;
		z-index: 1;
	}
	&:before,
	&:after {
		width: 100%;
		height: 1px;
		background-color: #004C99;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 0;
		content: "";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl03 {
		margin-bottom: 30px;
		@include fs(24);
		span {
			border-right-width: 10px;
			border-left-width: 10px;
		}
		br { display: none; }
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl03 {
		margin-bottom: 20px;
		@include fs(18);
		span {
			border-right-width: 5px;
			border-left-width: 5px;
		}
		br { display: inline; }
	}
}

/* .ttl04 */
.ttl04 {
	border-bottom-style: solid;
	border-bottom-color: #004C99;
	line-height: 1.5;
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl04 {
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom-width: 2px;
		@include fs(20);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl04 {
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom-width: 1px;
		@include fs(16);
	}
}

/* .ttl05 */
.ttl05 {
	padding-left: 15px;
	position: relative;
	line-height: 1.5;
	&:before {
		width: 5px;
		height: 5px;
		background-color: #004C99;
		position: absolute;
		top: 7px;
		left: 0;
		content: "";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl05 {
		margin-bottom: 30px;
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl05 {
		margin-bottom: 20px;
	}
}

/*--------------- リンク ---------------*/
/* .link01 */
.link01 {
	// padding-left: 20px;
	display: inline;
	position: relative;
	&:before {
		margin-left: 5px;
		color: #036;
		@include fs(15);
		@include font_icon;
		vertical-align: middle;
		content: "\e612";
	}
}

/* .new_window */
.new_window {
	padding-right: 25px;
	display: inline;
	position: relative;
	&:after {
		margin-left: 5px;
		color: #036;
		@include fs(11);
		@include font_icon;
		vertical-align: middle;
		content: "\e626";
	}
}

/* .btn_link01 */
.btn_link01 {
	position: relative;
	&:before {
		position: absolute;
		@include font_icon;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.btn_link01 {
		padding-left: 20px;
		display: inline-block;
		&:before {
			top: 0;
			left: 0;
			color: #036;
			@include fs(15);
			content: "\e612";
		}
		.pcHide { display: none; }
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.btn_link01 {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 10px;
		padding-right: 40px;
		width: 80%;
		background-color: #eee;
		border: 5px solid #ccc;
		display: block;
		> a {
			text-decoration: none;
		}
		&:before {
			margin-top: -10px;
			top: 50%;
			right: 3px;
			color: #666;
			@include fs(14);
			content: "\e60e";
		}
		&:after {
			margin-top: -7px;
			position: absolute;
			top: 50%;
			right: 25px;
			color: #666;
		}
	}
}


/* .btn_link02 */
.btn_link02 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 12px 40px 10px 10px;
	width: 100%;
	max-width: 80%;
	background-color: #eee;
	border: 5px solid #ccc;
	display: block;
	position: relative;
	color: #06C;
	line-height: 1.5;
	text-align: left;
	text-decoration: none;
	&:before,
	&:after {
		top: 50%;
		color: #666;
	}
	&:before {
		margin-top: -10px;
		position: absolute;
		right: 3px;
		@include fs(14);
		@include font_icon;
		content: "\e60e";
	}
	&:after {
		margin-top: -6px;
		right: 25px;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.btn_link02 {
		width: 280px;
		cursor: pointer;
		&:hover {
			@include opct(0.7);
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.btn_link02 {
		width: 100%;
	}
}

/*--------------- リスト ---------------*/
.list01,
.num_list01,
.link_list01 {
	li {
		position: relative;
		&:first-child {
			margin-top: 0;
		}
		&:before {
			position: absolute;
			top: 3px;
			left: 0;
			color: #333;
			@include font_icon;

		}
	}

	.level02 {
		li {
			@include fs(13,14);
			&:before {
				top: 1px;
			}
		}
	}
}

.list01,
.link_list01 {
	li {
		padding-left: 15px;
	}

	.level02 {
		li {
			@include fs(13,14);
			&:before {
				top: 1px;
			}
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.list01,
	.num_list01,
	.link_list01 {
		li {
			margin-top: 5px;
		}
		.level02 {
			margin-top: 10px;
			margin-bottom: 5px;
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.list01,
	.num_list01,
	.link_list01 {
		li {
			margin-top: 10px;
		}
		.level02 {
			margin-top: 15px;
			margin-bottom: 10px;
		}
	}
}

/* .link01 */
.list01 {
	li {
		&:before {
			content: "\e625";
		}
	}
}

/* .num_list01 */
.num_list01 {
	> li {
		padding-left: 18px;
		text-indent: -18px;
	}

	.level02 {
		> li {
			padding-left: 15px;
			text-indent: 0;
			&:before {
				content: "\e625";
			}
		}
	}
}

/* .link_list01 */
.link_list01 {
	li {
		&:before {
			content: "\e612";
		}
	}
}

/* .Link_box_list01 */
.Link_box_list01 {
	li {
		&:first-child {
			margin-top: 0;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.Link_box_list01 {
		li {
			margin-top: 5px;
			padding-left: 15px;
			position: relative;
			&:before {
				position: absolute;
				top: 3px;
				left: 0;
				color: #333;
				@include font_icon;
				content: "\e612";
			}
		}

		.level02,
		.level03 {
			margin-top: 10px;
		}

		.level02 li {
			@include fs(13,14);
		}

		.level03 li {
			@include fs(11,13);
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.Link_box_list01 {
		border-top: 1px solid #ccc;
		a {
			padding-top: 15px;
			padding-bottom: 15px;
			display: block;
			text-decoration: none;
		}
		.box {
			display: block;
			position: relative;
			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				color: #888;
				@include font_icon;
			}
		}
		.new_window {
			&:after {
				margin-top: -6px;
				position: absolute;
				top: 50%;
				color: #888;
				@include fs(12);
			}
		}
		> li {
			border-bottom: 1px solid #ccc;
			.box {
				padding-right: 40px;
				&:before {
					margin-top: -10px;
					@include fs(14);
					content: "\e60e";
				}
			}
			.new_window {
				&:after {
					right: 25px;
				}
			}
		}

		.level02 {
			border-top: 1px solid #ccc;
			> li {
				border-top: 1px dotted #999;
				@include fs(13,14);
				&:first-child {
					border-top: none;
				}
				.box {
					padding-right: 35px;
					padding-left: 20px;
					background-color: #eee;
					&:before {
						margin-top: -8px;
						@include fs(12);
						content: "\e60e";
					}
				}
				.new_window {
					&:after {
						right: 20px;
					}
				}
			}
		}

		.level03 {
			border-top: 1px dotted #999;
			> li {
				border-top: 1px dotted #999;
				@include fs(11,13);
				&:first-child {
					border-top: none;
				}
				.bpx {
					padding-right: 30px;
					padding-left: 30px;
					background-color: #F2F2F2;
					&:before {
						margin-top: -6px;
						right: 5px;
						@include fs(12);
						content: "\e612";
					}
				}
				.new_window {
					&:after {
						right: 20px;
					}
				}
			}
		}
	}
}

/* .pager01 */
.pager01 {
	text-align: center;
	letter-spacing: -0.4em;
	li {
		display: inline-block;
		letter-spacing: normal;
		&:first-child {
			margin-left: 0;
		}
		a,
		span {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border: 1px solid #06C;
			display: block;
			line-height: 1;
			text-decoration: none;
		}
	}

	.current span {
		background-color: #06C;
		color: #FFF;
	}

	.prev,
	.home,
	.next {
		a {
			position: relative;
			&:before {
				margin-top: -10px;
				position: absolute;
				top: 50%;
				@include fs(14);
				@include font_icon;
			}
		}
	}

	.prev,
	.home {
		a {
			padding-left: 25px;
			&:before {
				left: 0;
			}
		}
	}
	.next {
		a {
			padding-right: 25px;
			&:before {
				right: 0;
			}
		}
	}

	.prev a:before {
		left: 0;
		content: "\e60d";
	}
	.home a:before {
		left: 5px;
		content: "\e60f";
	}
	.next a:before {
		right: 0;
		content: "\e60e";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.pager01 {
		li {
			margin-left: 10px;
			a,
			span  {
				padding: 8px 10px;
			}

			a:hover {
				background-color: #06C;
				color: #FFF;
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.pager01 {
		li {
			margin-left: 8px;
			a,
			span  {
				padding: 8px 5px;
			}
		}
	}
}

/* .lineup_list */
.lineup_list {
	li {
		a {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px;
			padding-right: 25px;
			background-color: #06C;
			display: block;
			position: relative;
			color: #FFF;
			text-decoration: none;
			&:after {
				margin-top: -8px;
				position: absolute;
				top: 50%;
				right: 5px;
				@include fs(12);
				@include font_icon;
				content: "\e60e";
			}
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.lineup_list {
		margin-left: -10px;
		@include cf;
		li {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding-left: 10px;
			width: 25%;
			float: left;
			&:first-child {
				margin-left: 0;
			}
			a {
				height: 100%;
				&:hover {
					@include opct(0.7);
				}
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.lineup_list {
		li {
			margin-top: 10px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}



/*--------------- カラム ---------------*/
/* .column_group */
.column_group {
	@include cf;
	.column {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		.img {
			margin-bottom: 15px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.column_group {
		margin-bottom: 40px;
		margin-left: -15px;
		.column {
			padding-left: 15px;
		}
	}

	.two_column {
		> .column { width: 50%; }
	}
	.three_column {
		> .column { width: 33.3%; }
	}
	.four_column {
		> .column { width: 25%; }
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.column_group {
		margin-bottom: 30px;
		margin-left: -10px;
		.column {
			padding-left: 10px;
			margin-bottom: 10px;
			width: 50%;
		}
	}
}



/* .img_float */
.img_float {
	@include cf;
	line-height: 1.8;
	> .img {
		padding-bottom: 20px;
		padding-left: 20px;
		float: right;
	}

	&.img_left > .img {
		padding-right: 20px;
		padding-left: 0;
		float: left;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.img_float {
		margin-bottom: 40px;
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.img_float {
		margin-bottom: 30px;
		> .img {
			img {
				width: 160px;
				height: auto;
			}
		}
	}
}



/* .img_column */
.img_column {
	line-height: 1.8;
	.img {
		img {
			width: 100%;
			height: auto;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.img_column {
		margin-bottom: 40px;
		@include cf;
		.img {
			width: 300px;
			float: right;
		}
		.txt {
			margin-right: -340px;
			width: 100%;
			float: left;
			p {
				padding-right: 340px;
			}
		}
		&.img_left {
			.img {
				float: left;
			}
			.txt {
				margin-right: 0;
				margin-left: -340px;
				float: right;
				p {
					padding-right: 0;
					padding-left: 340px;
				}
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.img_column {
		margin-bottom: 30px;
		.img {
			margin-bottom: 20px;
			text-align: center;
			img {
				width: auto;
			}
		}
	}
}

/*--------------- テーブル ---------------*/
/* .basic_table */
.basic_table {
	.row {
		> dt,
		> dd {
			padding: 15px;
		}
		> dt {
			background-color: #EEE;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.basic_table {
		margin-bottom: 40px;
		border-top: 1px solid #ccc;
		.head {
			width: 100%;
			display: table;
			> li {
				padding: 15px;
				background-color: #EEE;
				border-bottom: 1px solid #ccc;
				border-left: 1px solid #ccc;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				&:first-child {
					border-left: none;
				}
			}
		}

		.row {
			width: 100%;
			border-bottom: 1px solid #ccc;
			display: table;
			> dt,
			> dd {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				display: table-cell;
				vertical-align: middle;
			}
			> dd {
				border-left: 1px solid #ccc;
			}
		}
	}

	.two_cell01 {
		.head {
			> li {
				width: 75%;
				&:first-child {
					width: 25%;
				}
			}
		}

		.row {
			> dt {
				width: 25%;
			}
			> dd {
				width: 75%;
			}
		}
	}
	.two_cell02 {
		.head {
			> li {
				width: 70%;
				&:first-child {
					width: 30%;
				}
			}
		}

		.row {
			> dt {
				width: 30%;
			}
			> dd {
				width: 70%;
			}
		}
	}
	.four_cell01 {
		.head > li,
		.row > dt,
		.row > dd {
			width: 25%;
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.basic_table {
		margin-bottom: 30px;
		border-top: 1px solid #ccc;
		.head { display: none; }

		.row {
			> dt,
			> dd {
				border-bottom: 1px solid #ccc;
			}
		}
	}
}

/*--------------- タブ ---------------*/
/* #tab01 */
#tab01 {
	.tab_ttl {
		> span {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 15px;
			border: 1px solid #06C;
			display: block;
			color: #06C;
		}
		&.current {
			> span {
				background-color: #06C;
				color: #FFF;
			}
		}
	}
	.tab_conts {
		padding-top: 20px;
		p + p {
			margin-top: 2em;
		}
	}

	.tab_ttl_group {
		.tab_ttl {
			text-align: center;
		}
	}
}


/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	#tab01 {
		.tab_ttl_group {
			width: 100%;
			display: table;
			border-bottom: 2px solid #06C;
			.tab_ttl {
				padding-left: 10px;
				width: 124px;
				display: table-cell;
				text-align: center;
				&:first-child {
					padding-left: 0;
				}
				> span {
					border-bottom: none;
					cursor: pointer;
					&:hover {
						@include opct(0.7);
					}
				}
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	#tab01 {
		.tab_ttl_group {
			margin: 0 -5px;
			text-align: center;
			letter-spacing: -0.4em;
			.tab_ttl {
				padding: 0 5px 10px;
				width: 30%;
				display: inline-block;
				letter-spacing: normal;
			}
		}
	}
}

/*--------------- コンテンツ系 ---------------*/
/* .long_conts */
.long_conts {
	> .ttl {
		padding: 17px 15px 13px;
		background-color: #06C;
		border-bottom-style: solid;
		border-bottom-color: #036;
		color: #FFF;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.long_conts {
		margin-bottom: 40px;
		> .ttl {
			margin-bottom: 25px;
			@include fs(18,14);
			border-bottom-width: 2px;
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.long_conts {
		margin-bottom: 10px;
		> .ttl {
			@include fs(16,14);
			border-bottom-width: 1px;
			position: relative;
			&:before,
			&:after {
				position: absolute;
				top: 50%;
			}
			&:before {
				margin-top: -15px;
				width: 30px;
				height: 30px;
				background-color: #036;
				-webkit-box-shadow: 1px 1px 1px #001326 inset;
				box-shadow: 1px 1px 1px #001326 inset;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				right: 10px;
				content: "";
			}
			&:after {
				margin-top: -7px;
				right: 18px;
				z-index: 10;
				color: #FFF;
				@include fs(14,16);
				@include font_icon;
				content: "\e615";
				-webkit-transition: all 200ms ease-out;
				transition: all 200ms ease-out;
			}

			&.open {
				&:after {
					-webkit-transform:  translateX(-1px)  rotate(45deg);
					transform:  translateX(-1px)  rotate(45deg);
				}
			}
		}
		.inner {
			margin-top: 20px;
			display: none;
		}
	}

	.ie8 {
		.long_conts {
			> .ttl {
				&.open {
					&:after {
						content: "\e622";
					}
				}
			}
		}
	}
}

/* news */
.news {
	.list {
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px dotted #ccc;
		&:first-child {
			margin-top: 0;
			padding-top: 0;
			border-top: none;
		}

		.date {
			color: #999;
			font-weight: normal;
		}
		.new {
			margin-left: 10px;
			background-color: #A61A11;
			color: #FFF;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.news {
		.list {
			width: 100%;
			display: table;
			.ttl,
			.txt {
				display: table-cell;
				vertical-align: top;
			}
			.ttl {
				width: 170px;
			}
			.new {
				padding: 2px 3px;
				@include fs(10,14);
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.news .list {
		.ttl {
			margin-bottom: 10px;
		}
		.new {
			padding: 2px 3px;
			@include fs(10,14);
		}
	}
}

/* map */
#map {
	width: 100%;
	iframe {
		width: 100% !important;
		height: 100% !important;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	#map {
		height: 320px;
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	#map {
		height: 250px;
	}
}

/* フォーム */
.mail_form {
	.row > dt label {
		display: block;
		position: relative;
	}

	.required {
		padding: 2px 3px;
		background-color: #A61A11;
		color: #FFF;
		@include fs(10,14);
	}

	input[type="text"],
	textarea {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
		padding: 3px;
		@include fs(10);
	}

	input[type="radio"],
	input[type="checkbox"] {
		margin: 0;
		margin-right: 5px;
		vertical-align: -0.1em;
	}

	input[type="text"] {
		&.no_val {
			color: #999;
		}
	}
	textarea {
		width: 100%;
	}

	.radio,
	.checkbox {
		li label {
			padding-left: 20px;
			display: inline-block;
			text-indent: -20px;
			> input {
				position: relative;
				left: 0;
			}
		}
	}

	.radio {
		text-align: left;
		li {
			margin-right: 10px;
			display: inline-block;
		}
	}

	.checkbox {
		@include cf;
		li {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding-right: 10px;
			padding-bottom: 10px;
			float: left;
		}
	}

	.submit {
		button {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			background-color: #06C;
			color: #FFF;
			text-align: center;
			cursor: pointer;
		}
		.retry {
			background-color: #999;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.mail_form {
		.required {
			position: absolute;
			right: 0;
		}

		input[type="text"] {
			width: 300px;
		}
		textarea {
			height: 150px;
		}

		.checkbox {
			li {
				width: 33.3%;
			}
		}

		.submit {
			margin-top: 60px;
			text-align: center;
			letter-spacing: -0.4em;
			li {
				margin-left: 30px;
				width: 250px;
				display: inline-block;
				letter-spacing: normal;
				&:first-child {
					margin-left: 0;
				}
			}
			button {
				padding: 20px 15px;
				@include fs(16,14);
				&:hover {
					background-color: #036;
				}
			}
			.retry {
				&:hover {
					background-color: #333;
				}
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.mail_form {
		.required {
			margin-left: 10px;
		}

		input[type="text"] {
			width: 100%;
		}
		textarea {
			height: 200px;
		}

		.checkbox {
			li {
				width: 50%;
			}
		}

		.submit {
			margin-top: 30px;
			li {
				margin: 30px auto 0;
				width: 80%;
				display: block;
				&:first-child {
					margin-top: 0;
				}
			}
			button {
				padding: 20px 0;
			}
		}
	}
}