<!DOCTYPE html>
<!--[if IE 8]><html lang="ja" class="ie8 lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ja"><!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="description" content="<%= page_description %>">
<meta name="keywords" content="<%= page_keywords %>">
<title>CSS ONLY - NO JS NO LIFE</title>
<link href="/css/style.css" rel="stylesheet">
</head>
<body id="canvas">
<div id="container">
	<div id="mainVisual">
		<div class="bg"><canvas id="colorBg"></canvas></div>
		<div id="line"></div>
	</div>
	<!-- /#mainVisual -->
</div>
<script src="../js/common.js" async defer></script>
</body>
</html>