<!DOCTYPE html>
<!--[if IE 8]><html lang="ja" class="ie8 lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ja"><!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="description" content="<%= page_description %>">
<meta name="keywords" content="<%= page_keywords %>">
<title>CSS ONLY - NO JS NO LIFE</title>
<link href="/css/style.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">
</head>
<body id="canvas">
<script src="../js/jquery-1.11.3.min.js" async defer></script>
<script src="../js/canvas.js" async defer></script>
</body>
</html>