@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 0;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	line-height: 1.5;
}

#container {
	background-color: #fff;
	text-align: left;
}

#lay_main {
	padding: 60px 15px;
	color: #111;
	font-size: 1.4rem;
	.lay_main_inner {
		padding: 30px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		position: relative;
		> p {
			margin-bottom: 45px;
		}
	}
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#lay_header {
	padding: 15px;
	width: 100%;
	background-color: $darken_color;
	display: table;
	color: #FFF;
	.lay_logo {
		padding-top: 10px;
		width: 145px;
		display: table-cell;
		font-size: 1.6rem;
		vertical-align: top;
	}
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#lay_gnav {
	display: table-cell;
	vertical-align: middle;
	.lay_gnav_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	.lay_gnav_anchor {
		padding: 10px;
		background-color: $darken_color;
		display: table-cell;
		color: #FFF;
		font-size: 1.2rem;
		text-align: center;
		vertical-align: top;

		transition: all 300ms ease;
		&:hover {
			background-color: $base_color;
			text-decoration: none;
		}

		&.current {
			background-color: $base_color;
		}
	}
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#lay_pagetop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 500;
	a {
		padding-top: 25px;
		padding-bottom: 25px;
		width: 80px;
		background-color: #999;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		display: block;
		opacity: 1;
		color: #fff;
		text-align: center;
		transition: opacity 500ms ease;
		&:hover {
			opacity: 0.7;
			text-decoration: none;
		}
	}
}

#lay_footer {
	padding: 10px 0;
	background-color: $darken_color;
	.lay_copyright {
		color: #FFF;
		text-align: center;
	}
}