@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等
@import "reset"; // スタイルリセット
@import "utilities";	// 便利系スタイル
@import "layout"; // テンプレート部位のレイアウト
/*------------------------------------------------------------
	styleguide
------------------------------------------------------------*/
.st_tab_cont {
	> .ttl {
		padding: 10px 15px;
		height: 35px;
		background-color: $darken_color;
		-webkit-border-radius: 5px 5px 0 0;
		border-radius: 5px 5px 0 0;
		position: absolute;
		top: -35px;
		left: 5px;
		color: #FFF;
		font-size: 1.5rem;
		font-weight: normal;
	}
}

.st_style {
	& + .st_style {
		margin-top: 10em;
	}

	&_ttl {
		margin-bottom: 1.5em;
		padding: 10px;
		background-color: $base_color;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		color: #FFF;
		font-size: 2rem;
		font-weight: normal;
	}

	&_item {
		& + .st_style_item {
			margin-top: 5em;
		}

		code {
			margin-right: 5px;
			padding: 3px 5px;
			background-color: #ddd;
			text-shadow: 0 0 2px #fff;
		}
	}

	&_classname {
		margin-bottom: 1em;
		padding-left: 1em;
		padding-bottom: 10px;
		border-bottom: 1px solid $lighten_color;
		position: relative;
		font-size: 1.8rem;
		&:before {
			width: 5px;
			height: 60%;
			background-color: $lighten_color;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
		}
	}
	&_text {
		line-height: 1.75;
		p {
			margin-bottom: 2em;
			font-size: 1.4rem;
		}
	}
	&_list {
		margin-bottom: 2em;
		li {
			margin-top: 5px;
			padding-left: 1em;
			position: relative;
			font-size: 1.4rem;
			&:first-child {
				margin-top: 0;
			}
			&:before {
				width: 5px;
				height: 5px;
				background-color: $base_color;
				-webkit-border-radius: 10px;
				border-radius: 10px;
				position: absolute;
				top: 6px;
				left: 0;
				content: "";
			}
		}
	}
	&_display {
		margin-top: 2em;
		margin-bottom: 2em;
		padding: 20px;
		padding-top: 50px;
		background-color: #f0f0f0;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, .25) inset;
		position: relative;
		&:before {
			position: absolute;
			top: 10px;
			left: 10px;
			color: #666;
			font-size: 1.2rem;
			content: attr(data-ttl);
		}
	}
	&_markup {
		margin-bottom: 2em;
		overflow: auto;
		line-height: 1.75;
	}
}