@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table,
input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  color: #6495ED;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*------------------------------------------------------------
	プラグイン
------------------------------------------------------------*/
#stage_wrap {
  width: 100%;
  overflow: hidden; }

#stage_wrap_inner {
  width: 100%;
  transform: translateX(0);
  transition: transform 500ms ease; }
  #stage_wrap_inner:after {
    display: block;
    clear: both;
    content: ""; }
  #stage_wrap_inner [data-stage="true"] {
    width: 100%;
    float: left; }
  #stage_wrap_inner .btn_type.is_not_input {
    pointer-events: none; }

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5; }

#container {
  background-color: #fff;
  text-align: left; }

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
/*------------------------------------------------------------
	mail_form
------------------------------------------------------------*/
.required {
  color: red; }

.text {
  padding: 50px 50px 0;
  font-size: 1.4rem; }

#mail_form {
  padding: 50px;
  font-size: 1.6rem; }
  #mail_form .box + .box {
    margin-top: 30px; }
  #mail_form .required {
    margin-bottom: 10px; }

.stage_pager {
  margin-bottom: 30px;
  display: flex; }
  .stage_pager_list {
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
    text-align: center; }
    .stage_pager_list:not(:first-child) {
      margin-left: 10px; }
    .stage_pager_list.active_list {
      background-color: #ddd; }

.submit_group {
  margin-top: 30px;
  letter-spacing: -0.4em;
  text-align: center; }
  .submit_group_list {
    margin: 0 10px;
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top; }

.btn_type {
  padding: 15px;
  background-color: #666;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  cursor: pointer; }
  .btn_type:hover {
    opacity: .7; }
  .btn_type.is_not_input {
    background-color: #ddd;
    color: #999; }
