@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等
@import "reset"; // スタイルリセット
@import "utilities";	// 便利系スタイル
@import "layout"; // テンプレート部位のレイアウト
/*------------------------------------------------------------
	topNavi
------------------------------------------------------------*/
#topNavi {
	margin: 100px auto 0;
	width: 960px;
	> li {
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		&:first-child {
			border-top: 1px solid #ccc;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&:last-child {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}

		a {
			padding: 20px;
			display: block;
			font-size: 14px;
			position: relative;
			&:before,
			&:after {
				width: 5px;
				height: 15px;
				background-color: #ddd;
				position: absolute;
				right: 20px;
				content: "";
			}
			&:before {
				margin-top: -12px;
				top: 50%;
				transform: rotate(-45deg);
			}
			&:after {
				margin-bottom: -12px;
				bottom: 50%;
				transform: rotate(45deg);
			}
		}
	}
}

/*------------------------------------------------------------
	canvas
------------------------------------------------------------*/
#canvas,
#index {
	#mainVisual {
		width: 100%;
		height: 800px;
		position: relative;
		overflow: hidden;
	}

	#colorBg {
		width: 100%;
		height: 800px;
	}

	#line {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.text {
		margin-top: -100px;
		margin-left: -213px;
		width: 426px;
		height: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
	}
}