@charset "UTF-8";
/*------------------------------------------------------------
	変数まとめ
------------------------------------------------------------*/
//width
$max_width: 1000px;
$width: 960px;
$min_width: 320px;

$pc_break_w: 801px;
$sp_break_w: $pc_break_w - 1;

//色

//z-index
