@charset "UTF-8";
/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
	*zoom: 1;
	&:after {
		display: block;
		clear: both;
		content: "";
	}
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
	display: none;
}
