@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  min-width: 0;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5;
}

#container {
  background-color: #fff;
  text-align: left;
}

#lay_main {
  padding: 60px 15px;
  color: #111;
  font-size: 1.4rem;
}

#lay_main .lay_main_inner {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

#lay_main .lay_main_inner > p {
  margin-bottom: 45px;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#lay_header {
  padding: 15px;
  width: 100%;
  background-color: #1a1a1a;
  display: table;
  color: #FFF;
}

#lay_header .lay_logo {
  padding-top: 10px;
  width: 145px;
  display: table-cell;
  font-size: 1.6rem;
  vertical-align: top;
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#lay_gnav {
  display: table-cell;
  vertical-align: middle;
}

#lay_gnav .lay_gnav_inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#lay_gnav .lay_gnav_anchor {
  padding: 10px;
  background-color: #1a1a1a;
  display: table-cell;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: top;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
}

#lay_gnav .lay_gnav_anchor:hover {
  background-color: #333;
  text-decoration: none;
}

#lay_gnav .lay_gnav_anchor.current {
  background-color: #333;
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#lay_pagetop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 500;
}

#lay_pagetop a {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 80px;
  background-color: #999;
  border-radius: 3px;
  display: block;
  opacity: 1;
  color: #fff;
  text-align: center;
  -webkit-transition: opacity 500ms ease;
          transition: opacity 500ms ease;
}

#lay_pagetop a:hover {
  opacity: 0.7;
  text-decoration: none;
}

#lay_footer {
  padding: 10px 0;
  background-color: #1a1a1a;
}

#lay_footer .lay_copyright {
  color: #FFF;
  text-align: center;
}

/*------------------------------------------------------------
	styleguide
------------------------------------------------------------*/
.st_tab_cont > .ttl {
  padding: 10px 15px;
  height: 35px;
  background-color: #1a1a1a;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: -35px;
  left: 5px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: normal;
}

.st_style + .st_style {
  margin-top: 10em;
}

.st_style_ttl {
  margin-bottom: 1.5em;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  color: #FFF;
  font-size: 2rem;
  font-weight: normal;
}

.st_style_item + .st_style_item {
  margin-top: 5em;
}

.st_style_item code {
  margin-right: 5px;
  padding: 3px 5px;
  background-color: #ddd;
  text-shadow: 0 0 2px #fff;
}

.st_style_classname {
  margin-bottom: 1em;
  padding-left: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
  font-size: 1.8rem;
}

.st_style_classname:before {
  width: 5px;
  height: 60%;
  background-color: #b3b3b3;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.st_style_text {
  line-height: 1.75;
}

.st_style_text p {
  margin-bottom: 2em;
  font-size: 1.4rem;
}

.st_style_list {
  margin-bottom: 2em;
}

.st_style_list li {
  margin-top: 5px;
  padding-left: 1em;
  position: relative;
  font-size: 1.4rem;
}

.st_style_list li:first-child {
  margin-top: 0;
}

.st_style_list li:before {
  width: 5px;
  height: 5px;
  background-color: #333;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
}

.st_style_display {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 20px;
  padding-top: 50px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25) inset;
  position: relative;
}

.st_style_display:before {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #666;
  font-size: 1.2rem;
  content: attr(data-ttl);
}

.st_style_markup {
  margin-bottom: 2em;
  overflow: auto;
  line-height: 1.75;
}
