@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: $max_width;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	color: #333;
	line-height: 1.5;
	text-align: center;
}

#container {
	background-color: #fff;
	text-align: left;
}

#main {
	margin: 0 auto;
	padding-bottom: 70px;
	width: $max_width;
	@include fs(14);
	@include cf;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	// background-color: #004C99;
	.inner {
		margin: 0 auto;
		padding: 20px 0;
		width: $max_width;
		@include cf;
	}
	.logo {
		float: left;
		color: #004C99;
		@include fs(45);
		font-weight: bold;
		font-family: $ff_droid;
		font-style: italic;
		letter-spacing: 0.1em;
	}
	.other {
		float: right;
	}
	.site_search {
		width: 280px;
		position: relative;
		input[type="text"] {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 5px;
			width: 100%;
			height: 32px;
			border: 1px solid #ccc;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			border-right: none;
			color: #999;
			line-height: 32px;
		}
		button {
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			width: 25px;
			height: 100%;
			background-color: #004C99;
			-webkit-border-radius: 0 2px 2px 0;
			border-radius: 0 2px 2px 0;
			position: absolute;
			top: 0;
			right: 0;
			color: #FFF;
			cursor: pointer;
			&:hover { background-color: #036; }
		}
	}
	.link {
		margin-top: 10px;
		text-align: right;
		li {
			margin-left: 15px;
			display: inline-block;
			@include fs(12);
			&:before {
				margin-right:3px;
				display: inline-block;
				vertical-align: middle;
				@include font_icon;
				content: "\e612";
			}
		}
	}
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#global_navi {
	background-color: #004C99;
	ul {
		margin: 0 auto;
		width: $max_width;
		@include cf;
		li {
			width: $max_width / 7;
			float: left;
			&:first-child {
				position: relative;
				&:before,
				&:after {
					margin-top: -25px;
					width: 1px;
					height: 50px;
					position: absolute;
					top: 50%;
					z-index: 5;
					content: "";
				}
				&:before {
					background-color: #0073E5;
					left: 1px;
				}
				&:after {
					background-color: #003366;
					left: 0;
				}
			}
		}
		a {
			padding: 15px 0;
			display: block;
			position: relative;
			color: #FFF;
			@include fs(14);
			text-decoration: none;
			text-align: center;
			&:before,
			&:after {
				margin-top: -25px;
				width: 1px;
				height: 50px;
				position: absolute;
				top: 50%;
				content: "";
			}
			&:before {
				background-color: #0073E5;
				right: 0;
			}
			&:after {
				background-color: #003366;
				right: 1px;
			}
			&:hover { background-color: #036; }
		}
		.icon {
			padding-bottom: 15px;
			display: block;
			position: relative;
			&:before {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;

				color: #FFF;
				font-size: 15px;
				text-align: center;
				@include font_icon;
				content: "\e60c";
			}
		}
	}
}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#page_path {
	margin-bottom: 40px;
	background-color: #ddd;
	ol {
		margin: 0 auto;
		padding: 10px 0;
		width: $max_width;
	}
	li {
		margin-right: 10px;
		display: inline;
		@include fs(12);
		vertical-align: middle;
		&:before {
			margin-right: 10px;
			display: inline;
			@include font_icon;
			vertical-align: middle;
			content: "\e60e";
		}

		&:first-child {
			margin-right: 0;
			&:before {
				margin-right: 0;
				display: none;
			}
		}
	}
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#conts {
	width: 660px;
	float: left;
}

/*------------------------------------------------------------
	サブコンテンツ（サイドバー）
------------------------------------------------------------*/
#sub_conts {
	width: 250px;
	float: right;
	.frame {
		margin-bottom: 30px;
		.ttl {
			padding: 14px 10px 10px;
			background-color: #004C99;
			border-bottom: 2px solid #036;
			color: #FFF;
			@include fs(18,14);
		}
		.inner {
			margin-top: 10px;
		}
	}

	.list {
		li {
			margin-top: 10px;
			padding-bottom: 10px;
			padding-left: 15px;
			border-bottom: 1px dotted #ccc;
			position: relative;
			&:before {
				display: block;
				position: absolute;
				top: 2px;
				left: -3px;
				color: #004C99;
				font-size: 16px;
				@include font_icon;
				content: "\e612";
			}
		}
	}

	.blog {
		li {
			margin-top: 15px;
			padding-bottom: 15px;
			border-bottom: 1px dotted #ccc;
		}
		a {
			width: 100%;
			display: table;
			&:hover img {
				@include opct(0.7);
			}
		}
		.img,
		.txt {
			display: table-cell;
			vertical-align: top;
		}
		.img {
			padding-right: 10px;
			width: 80px;
			img {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
				height: auto;
				border: 1px solid #ccc;
			}
		}
	}

	.banner {
		margin-bottom: 15px;
		a {
			border: 1px solid #999;
			display: block;
			img {
				width: 100%;
				height: auto;
			}
			&:hover img {
				@include opct(0.7);
			}
		}
	}
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
	background-color: #004C99;
	.page_top {
		a {
			padding: 10px 0;
			background-color: #036;
			display: block;
			text-align: center;
			color: #FFF;
			@include fs(13);
			text-decoration: none;
			&:hover { background-color: #336EAA; }
		}
		.icon {
			padding-left: 30px;
			position: relative;
			&:before {
				position: absolute;
				top: 0;
				left: 0;

				font-size: 18px;
				text-align: left;
				@include font_icon;
				content: "\e60f";
			}
		}
	}

	.sub_navi {
		padding: 30px 0;
		text-align: center;
		li {
			margin-left: 15px;
			padding-left: 15px;
			border-left: 1px solid #fff;
			display: inline-block;
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border-left: none;
			}
		}
		a {
			color: #FFF;
			line-height: 1;
			@include fs(13);
		}
	}
	.copyright {
		padding-bottom: 10px;
		text-align: center;
		color: #FFF;
		@include fs(12);
		font-family: $ff_droid;
		letter-spacing: 0.1em;
	}
}