@charset "UTF-8";
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 960px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	color: #333;
	line-height: 1.5;
	text-align: center;
}

#container {
	background-color: #fff;
	text-align: left;
}

#main {
	margin: 0 auto;
	width: 960px;
	@include fs(14);
	@include cf;
}

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
	background-color: #004C99;
	.logo {
		text-align: center;
		color: #FFF;
		@include fs(45);
		font-weight: bold;
		font-family: $ff_droid;
		font-style: italic;
	}
}

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
#gNavi {
}

/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
#pagePath {
}

/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
#conts {
}

/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
#sideBar {
}

/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer {
	.copyright {
		text-align: center;
		@include fs(11);
		font-family: $ff_droid;
	}
}