@charset "UTF-8";
@import "vars";	// 変数
@import "functions"; // 関数等
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
/*--------------- 見出し ---------------*/
/* .ttl1 */
.ttl01 {
	background-color: #004C99;
	color: #fff;
	line-height: 1.5;
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl01 {
		margin-bottom: 30px;
		padding: 15px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
		@include fs(24);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl01 {
		margin-bottom: 20px;
		padding: 10px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		@include fs(18);
	}
}


/* .ttl02 */
.ttl02 {
	position: relative;
	line-height: 1.5;
	&:before {
		padding: 10px;
		background-color: #004C99;
		-webkit-border-radius: 150px;
		border-radius: 150px;
		position: absolute;
		top: -5px;
		left: 0;
		color: #FFF;
		@include font_icon;
		content: "\e616";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl02 {
		margin-bottom: 30px;
		padding-left: 65px;
		@include fs(24);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl02 {
		margin-bottom: 20px;
		padding-left: 65px;
		@include fs(18);
	}
}



/* .ttl03 */
.ttl03 {
	width: 100%;
	position: relative;
	color: #004C99;
	line-height: 1.5;
	text-align: center;
	span {
		background-color: #FFF;
		border-right-style: solid;
		border-right-color: #FFF;
		border-left-style: solid;
		border-left-color: #FFF;
		display: inline-block;
		position: relative;
		z-index: 1;
	}
	&:before,
	&:after {
		width: 100%;
		height: 1px;
		background-color: #004C99;
		position: absolute;
		top: 50%;
		right: 0;
		z-index: 0;
		content: "";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl03 {
		margin-bottom: 30px;
		@include fs(24);
		span {
			border-right-width: 10px;
			border-left-width: 10px;
		}
		br { display: none; }
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl03 {
		margin-bottom: 20px;
		@include fs(18);
		span {
			border-right-width: 5px;
			border-left-width: 5px;
		}
	}
}

/* .ttl04 */
.ttl04 {
	border-bottom-style: solid;
	border-bottom-color: #004C99;
	line-height: 1.5;
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl04 {
		margin-bottom: 30px;
		padding-bottom: 10px;
		border-bottom-width: 2px;
		@include fs(20);
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl04 {
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom-width: 1px;
		@include fs(16);
	}
}

/* .ttl05 */
.ttl05 {
	padding-left: 15px;
	position: relative;
	line-height: 1.5;
	&:before {
		width: 5px;
		height: 5px;
		background-color: #004C99;
		position: absolute;
		top: 7px;
		left: 0;
		content: "";
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.ttl05 {
		margin-bottom: 30px;
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.ttl05 {
		margin-bottom: 20px;
	}
}

/*--------------- リンク ---------------*/
/* .ttl1 */

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
}

/*--------------- リスト ---------------*/
/* .ttl1 */

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
}

/*--------------- カラム ---------------*/
/* .column_group */
.column_group {
	@include cf;
	.column {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		.img {
			margin-bottom: 15px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.column_group {
		margin-bottom: 40px;
		margin-left: -15px;
		.column {
			padding-left: 15px;
		}
	}

	.two_column {
		> * { width: 50%; }
	}
	.three_column {
		> * { width: 33.3%; }
	}
	.four_column {
		> * { width: 25%; }
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.column_group {
		margin-bottom: 30px;
		margin-left: -10px;
		.column {
			padding-left: 10px;
			margin-bottom: 10px;
			width: 50%;
		}
	}
}



/* .img_float */
.img_float {
	@include cf;
	line-height: 1.8;
	> .img {
		padding-bottom: 20px;
		padding-left: 20px;
		float: right;
	}

	&.img_left > .img {
		padding-right: 20px;
		padding-left: 0;
		float: left;
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.img_float {
		margin-bottom: 40px;
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.img_float {
		margin-bottom: 30px;
		> .img {
			img {
				width: 160px;
				height: auto;
			}
		}
	}
}



/* .img_column */
.img_column {
	line-height: 1.8;
	.img {
		img {
			width: 100%;
			height: auto;
		}
	}
}

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
	.img_column {
		margin-bottom: 40px;
		@include cf;
		.img {
			width: 300px;
			float: right;
		}
		.txt {
			width: 340px;
			float: left;
		}
		&.img_left {
			.img {
				float: left;
			}
			.txt {
				float: right;
			}
		}
	}
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
	.img_column {
		margin-bottom: 30px;
		.img {
			margin-bottom: 20px;
			text-align: center;
			img {
				width: auto;
			}
		}
	}
}

/*--------------- 見出し ---------------*/
/* .ttl1 */

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
}

/*--------------- 見出し ---------------*/
/* .ttl1 */

/* PCへ切り替え */
@media only screen and (min-width: $break_pc_width) {
}

/* SPへ切り替え */
@media only screen and (max-width: $break_sp_width) {
}