@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, button, h1, h2, h3, h4, h5, h6 {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?-bzbsig');
  src: url('../../fonts/icomoon.eot?#iefix-bzbsig') format('embedded-opentype'), url('../../fonts/icomoon.woff?-bzbsig') format('woff'), url('../../fonts/icomoon.ttf?-bzbsig') format('truetype'), url('../../fonts/icomoon.svg?-bzbsig#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/*------------------------------------------------------------
	リンク
------------------------------------------------------------*/
a {
  color: #06C; }
  a:hover {
    text-decoration: none; }

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important; }

.taCenter {
  text-align: center !important; }

.taRight {
  text-align: right !important; }

.vTop {
  vertical-align: top !important; }

.vMiddle {
  vertical-align: middle !important; }

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important; }

.fwBold {
  font-weight: bold !important; }

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none; }

/*------------------------------------------------------------
	webフォントアイコン
------------------------------------------------------------*/
[class^="ic_"], [class*=" ic_"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ic_arrow_l_pc_d:before {
  content: "\e600"; }

.ic_arrow_l_pc_l:before {
  content: "\e601"; }

.ic_arrow_l_pc_r:before {
  content: "\e602"; }

.ic_arrow_l_pc_u:before {
  content: "\e603"; }

.ic_arrow_l_sp_d:before {
  content: "\e604"; }

.ic_arrow_l_sp_l:before {
  content: "\e605"; }

.ic_arrow_l_sp_r:before {
  content: "\e606"; }

.ic_arrow_l_sp_u:before {
  content: "\e607"; }

.ic_arrow_m_pc_d:before {
  content: "\e608"; }

.ic_arrow_m_pc_l:before {
  content: "\e609"; }

.ic_arrow_m_pc_r:before {
  content: "\e60a"; }

.ic_arrow_m_pc_u:before {
  content: "\e60b"; }

.ic_arrow_m_sp_d:before {
  content: "\e60c"; }

.ic_arrow_m_sp_l:before {
  content: "\e60d"; }

.ic_arrow_m_sp_r:before {
  content: "\e60e"; }

.ic_arrow_m_sp_u:before {
  content: "\e60f"; }

.ic_arrow_s_sp_d:before {
  content: "\e610"; }

.ic_arrow_s_sp_l:before {
  content: "\e611"; }

.ic_arrow_s_sp_r:before {
  content: "\e612"; }

.ic_arrow_s_sp_u:before {
  content: "\e613"; }

.ic_content_close:before {
  content: "\e614"; }

.ic_content_open:before {
  content: "\e615"; }

.ic_difference1:before {
  content: "\e616"; }

.ic_difference2:before {
  content: "\e617"; }

.ic_difference3:before {
  content: "\e618"; }

.ic_difference4:before {
  content: "\e619"; }

.ic_difference5:before {
  content: "\e61a"; }

.ic_difference6:before {
  content: "\e61b"; }

.ic_difference7:before {
  content: "\e61c"; }

.ic_facebook:before {
  content: "\e61d"; }

.ic_header_contact:before {
  content: "\e61e"; }

.ic_header_entry:before {
  content: "\e61f"; }

.ic_header_menu:before {
  content: "\e620"; }

.ic_header_menu_bar:before {
  content: "\e621"; }

.ic_header_menu_close:before {
  content: "\e622"; }

.ic_header_mglass:before {
  content: "\e623"; }

.ic_header_mypage:before {
  content: "\e624"; }

.ic_list:before {
  content: "\e625"; }

.ic_open_window:before {
  content: "\e626"; }

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  min-width: 960px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  color: #333;
  line-height: 1.5;
  text-align: center; }

#container {
  background-color: #fff;
  text-align: left; }

#main {
  margin: 0 auto;
  width: 960px;
  font-size: 140%; }
  #main:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#header {
  background-color: #004C99; }
  #header .logo {
    text-align: center;
    color: #FFF;
    font-size: 450%;
    font-weight: bold;
    font-family: 'Droid Serif', serif;
    font-style: italic; }

/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
/*------------------------------------------------------------
	パンクズリスト
------------------------------------------------------------*/
/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#footer .copyright {
  text-align: center;
  font-size: 110%;
  font-family: 'Droid Serif', serif; }

/*------------------------------------------------------------
	見出し
------------------------------------------------------------*/
/*------------------------------------------------------------
	ボタン
------------------------------------------------------------*/
/*------------------------------------------------------------
	箇条書き
------------------------------------------------------------*/