<%- include(folderpath + '/assets/inc/_head'); %>
<%- include(folderpath + '/assets/inc/_header'); %>

	<div class="l-main">
		<main class="l-conts">
			<section>
				<h2>ページタイトル</h2>
				<section>
					<h3>中見出し</h3>
					<section>
						<h4>小見出し</h4>
					</section>
				</section>
			</section>
		</main><!-- /#conts -->

<%- include(folderpath + '/assets/inc/_subconts'); %>
	</div><!-- /#main -->

<%- include(folderpath + '/assets/inc/_footer'); %>
