@charset "UTF-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

html {
  font-size: 62.5%; }

body, table, input, textarea, select, option, h1, h2, h3, h4, h5, h6 {
  font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

table, input, textarea, select, option {
  line-height: 1.1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

img {
  vertical-align: top; }

a {
  color: #6495ED;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/*------------------------------------------------------------
	書式設定
------------------------------------------------------------*/
/* テキストの位置 */
.taLeft {
  text-align: left !important; }

.taCenter {
  text-align: center !important; }

.taRight {
  text-align: right !important; }

.vTop {
  vertical-align: top !important; }

.vMiddle {
  vertical-align: middle !important; }

/* フォントの太さ */
.fwNormal {
  font-weight: normal !important; }

.fwBold {
  font-weight: bold !important; }

/*------------------------------------------------------------
	微調整用クラス（※多用しないこと）
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1; }
  .clearfix:after {
    display: block;
    clear: both;
    content: ""; }

/*------------------------------------------------------------
	トラッキングタグの余計なスペースを削除
------------------------------------------------------------*/
.trackTags {
  display: none; }

/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
  min-width: 960px;
  /* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
  line-height: 1.5; }

#container {
  background-color: #fff;
  text-align: left; }

/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
/*------------------------------------------------------------
	グローバルナビ
------------------------------------------------------------*/
/*------------------------------------------------------------
	コンテンツ
------------------------------------------------------------*/
/*------------------------------------------------------------
	サイドバー
------------------------------------------------------------*/
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
/*------------------------------------------------------------
	topNavi
------------------------------------------------------------*/
#topNavi {
  margin: 100px auto 0;
  width: 960px; }
  #topNavi > li {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc; }
    #topNavi > li:first-child {
      border-top: 1px solid #ccc;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    #topNavi > li:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    #topNavi > li a {
      padding: 20px;
      display: block;
      font-size: 14px;
      position: relative; }
      #topNavi > li a:before, #topNavi > li a:after {
        width: 5px;
        height: 15px;
        background-color: #ddd;
        position: absolute;
        right: 20px;
        content: ""; }
      #topNavi > li a:before {
        margin-top: -12px;
        top: 50%;
        transform: rotate(-45deg); }
      #topNavi > li a:after {
        margin-bottom: -12px;
        bottom: 50%;
        transform: rotate(45deg); }

/*------------------------------------------------------------
	canvas
------------------------------------------------------------*/
#canvas #mainVisual {
  width: 100%;
  height: 800px;
  overflow: hidden; }
#canvas #colorBg {
  width: 100%;
  height: 800px; }
#canvas #line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  #canvas #line > canvas {
    position: absolute; }
