<!DOCTYPE html>
<!--[if IE 8]><html lang="ja" class="ie8 lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ja"><!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="description" content="<%= page_description %>">
<meta name="keywords" content="<%= page_keywords %>">
<title>CSS ONLY - NO JS NO LIFE</title>
<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="container">
	<ul id="topNavi">
		<li><a href="canvas/">Canvas - 01</a></li>
		<li><a href="canvas/three.html">Canvas - 02</a></li>
		<li><a href="canvas/barabara.html">Canvas - 03</a></li>
		<li><a href="canvas/line01.html">Canvas - 04</a></li>
		<li><a href="canvas/line02.html">Canvas - 05</a></li>
		<li><a href="canvas/particles.html">particles</a></li>
		<li><a href="canvas/mountain.html">波</a></li>
	</ul>
</div>
</body>
</html>