@charset "UTF-8";
/*------------------------------------------------------------
	トップページ
------------------------------------------------------------*/
/*--------------- 見出し ---------------*/
/* .ttl1 */
.ttl01 {
  background-color: #004C99;
  color: #fff;
  line-height: 1.5; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .ttl01 {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 10px;
    font-size: 240%; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .ttl01 {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 180%; } }

/* .ttl02 */
.ttl02 {
  position: relative;
  line-height: 1.5; }
  .ttl02:before {
    padding: 10px;
    background-color: #004C99;
    border-radius: 150px;
    position: absolute;
    top: -5px;
    left: 0;
    color: #FFF;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e616"; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .ttl02 {
    margin-bottom: 30px;
    padding-left: 65px;
    font-size: 240%; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .ttl02 {
    margin-bottom: 20px;
    padding-left: 65px;
    font-size: 180%; } }

/* .ttl03 */
.ttl03 {
  width: 100%;
  position: relative;
  color: #004C99;
  line-height: 1.5;
  text-align: center; }
  .ttl03 span {
    background-color: #FFF;
    border-right-style: solid;
    border-right-color: #FFF;
    border-left-style: solid;
    border-left-color: #FFF;
    display: inline-block;
    position: relative;
    z-index: 1; }
  .ttl03:before, .ttl03:after {
    width: 100%;
    height: 1px;
    background-color: #004C99;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 0;
    content: ""; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .ttl03 {
    margin-bottom: 30px;
    font-size: 240%; }
    .ttl03 span {
      border-right-width: 10px;
      border-left-width: 10px; }
    .ttl03 br {
      display: none; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .ttl03 {
    margin-bottom: 20px;
    font-size: 180%; }
    .ttl03 span {
      border-right-width: 5px;
      border-left-width: 5px; } }

/* .ttl04 */
.ttl04 {
  border-bottom-style: solid;
  border-bottom-color: #004C99;
  line-height: 1.5; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .ttl04 {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom-width: 2px;
    font-size: 200%; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .ttl04 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    font-size: 160%; } }

/* .ttl05 */
.ttl05 {
  padding-left: 15px;
  position: relative;
  line-height: 1.5; }
  .ttl05:before {
    width: 5px;
    height: 5px;
    background-color: #004C99;
    position: absolute;
    top: 7px;
    left: 0;
    content: ""; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .ttl05 {
    margin-bottom: 30px; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .ttl05 {
    margin-bottom: 20px; } }

/*--------------- リンク ---------------*/
/* .ttl1 */
/* PCへ切り替え */
/* SPへ切り替え */
/*--------------- リスト ---------------*/
/* .ttl1 */
/* PCへ切り替え */
/* SPへ切り替え */
/*--------------- カラム ---------------*/
/* .column_group */
.column_group:after {
  display: block;
  clear: both;
  content: ""; }
.column_group .column {
  box-sizing: border-box;
  float: left; }
  .column_group .column .img {
    margin-bottom: 15px; }
    .column_group .column .img img {
      width: 100%;
      height: auto; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .column_group {
    margin-bottom: 40px;
    margin-left: -15px; }
    .column_group .column {
      padding-left: 15px; }
  .two_column > * {
    width: 50%; }
  .three_column > * {
    width: 33.3%; }
  .four_column > * {
    width: 25%; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .column_group {
    margin-bottom: 30px;
    margin-left: -10px; }
    .column_group .column {
      padding-left: 10px;
      margin-bottom: 10px;
      width: 50%; } }

/* .img_float */
.img_float {
  line-height: 1.8; }
  .img_float:after {
    display: block;
    clear: both;
    content: ""; }
  .img_float > .img {
    padding-bottom: 20px;
    padding-left: 20px;
    float: right; }
  .img_float.img_left > .img {
    padding-right: 20px;
    padding-left: 0;
    float: left; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .img_float {
    margin-bottom: 40px; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .img_float {
    margin-bottom: 30px; }
    .img_float > .img img {
      width: 160px;
      height: auto; } }

/* .img_column */
.img_column {
  line-height: 1.8; }
  .img_column .img img {
    width: 100%;
    height: auto; }

/* PCへ切り替え */
@media only screen and (min-width: 737px) {
  .img_column {
    margin-bottom: 40px; }
    .img_column:after {
      display: block;
      clear: both;
      content: ""; }
    .img_column .img {
      width: 300px;
      float: right; }
    .img_column .txt {
      width: 340px;
      float: left; }
    .img_column.img_left .img {
      float: left; }
    .img_column.img_left .txt {
      float: right; } }

/* SPへ切り替え */
@media only screen and (max-width: 736px) {
  .img_column {
    margin-bottom: 30px; }
    .img_column .img {
      margin-bottom: 20px;
      text-align: center; }
      .img_column .img img {
        width: auto; } }

/*--------------- 見出し ---------------*/
/* .ttl1 */
/* PCへ切り替え */
/* SPへ切り替え */
/*--------------- 見出し ---------------*/
/* .ttl1 */
/* PCへ切り替え */
/* SPへ切り替え */
